  <div class="sidenav">
  <LinkTo @route="Person1" class="menu-index">
    <h1>Name 1</h1>
    <div class="status">
      <span class="online"></span> online
    </div>
  </LinkTo>
  <LinkTo @route="Person2" class="menu-index">
    <h1>Name 2</h1>
  </LinkTo>
  <LinkTo @route="Person3" class="menu-index">
    <h1>Name 3</h1>
  </LinkTo>
  <LinkTo @route="Person4" class="menu-index">
    <h1>Name 4</h1>
  </LinkTo>
  
  <a href="#">Name 5</a>
  <a href="#">Name 6</a>
  <a href="#">Name 7</a>
  <a href="#">Name 8</a>
  <a href="#">Name 9</a>
  <a href="#">Name 10</a>
  <a href="#">Name 11</a>
  <a href="#">Name 12</a>
  <a href="#">Name 13</a>
</div>
