<div class="main">
  <div class="self textbox">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>
  
  <div class="other textbox">
    <p>Hey! I'm fine. Thanks for asking!aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <span class="time-left">11:01</span>
  </div>
  
  <div class="self textbox">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>
  
  <div class="other textbox">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div> 
</div>
<div class="textbox">
  <input class="input">
</div>